In [ ]:
#print 0 to 20 by using range

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print range 10 to 20

In [6]:
for num  in range(10,20):
    print(num, end =' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
#print number of items in the list by using 'len'

In [10]:
list2=[10,20,14,55,43,87,76]
item=len(list2)
print("number of item in the List2:",item)

number of item in the List2: 7

In [23]:
letters=['a','r','t','i','f','i','c','i','a','l', 'i','n','t','e','l','l','i','g','e','n','c','e']
for ch in letters:
    print(ch,end='')
print("\n")
for ch in letters:
    print(ch)

artificialintelligence

a
r
t
i
f
i
c
i
a
l
i
n
t
e
l
l
i
g
e
n
c
e

In [31]:

tup = ("your name", "your age", "your profession")
for ch in tup:
    print(ch)

your name
your age
your profession

In [28]:
tup=(1,'welcome',2,'Hope')
print(tup)

(1, 'welcome', 2, 'Hope')

In [29]:
tup1=(0,1,2,3)
tup2=('python','hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'hope'))

In [ ]:
#print odd numbers in the list

In [15]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if(num %2==1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
#print even numbers in the list

In [24]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if(num%2==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even